.blitz-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 88px;
  }
  &__item {
    .question {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__text {
        font-family: $title-font;
        font-size: $section-title-font-size;
        line-height: 48px;
        color: $nav-font-color;
      }
    }
    .arrow-up {
      border: solid #0e8784;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
  }
  .answer-list {
    @extend %flex-c-sb;
    margin-top: 56px;
    gap: 23px;
    .answer-item {
      padding: 32px 28px;
      padding-bottom: 84px;
      background-color: $cards-bg-color;
      border-radius: 8px;
      transition: all 0.3s linear;
      .answer-title {
        font-family: $title-font;
        font-size: $card-title-font-size;
        line-height: 32px;
        color: #333d4b;
      }
      .answer-subtitle {
        max-width: 172px;
        margin-top: 24px;
        color: #333d4b;
      }
      &_active {
        background-color: $cards-active-color;
        .answer-title {
          color: #fff;
        }
        .answer-subtitle {
          color: $main-font-color;
        }
        &:hover {
          .answer-title {
            color: #333d4b;
          }
          .answer-subtitle {
            color: #333d4b;
          }
        }
      }
      &:hover {
        background-color: $cards-hover-color;
      }
    }
  }
  .order {
    height: auto;
    margin-top: 84px;
    padding: 31px 64px 27px 64px;
    border-radius: 8px;
    background-color: $background-color;
    &__title {
      text-transform: uppercase;
      color: #fff;
      font-weight: 400;
      font-size: 16px;
      opacity: 0.5;
    }
    &__subtitle {
      margin-top: 8px;
      max-width: 602px;
      font-family: $title-font;
      font-size: $card-title-font-size;
      line-height: 40px;
      color: #fff;
    }
    .green-text {
      color: #0e8784;
    }
  }
  .create-button {
    text-align: right;
    .create-plan-btn {
      margin-top: 40px;
      padding: 15px 35px;
      background-color: $button-bg-color;
      font-family: $title-font;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      border: none;
      color: #333d4b;
      border-radius: 6px;
      transition: all 0.3s ease;
      &:hover {
        background-color: $button-hover-color;
        color: #fefcf7;
      }
      &:active {
        color: #333d4b;
        background-color: $cards-hover-color;
      }
    }
  }
}

@media only screen and (max-width: 987px) {
  .blitz-question {
    &__list {
      gap: 100px;
    }
    &__item {
      .question {
        &__text {
          font-size: 32px;
        }
      }
    }
    .answer-list {
      width: 100%;
      gap: 10px;
      margin-top: 40px;
      .answer-item {
        padding: 32px 25px;

        .answer-subtitle {
          max-width: 172px;
        }
      }
    }
  }
}
@media only screen and (max-width: 734px) {
  .blitz-question {
    &__list {
      gap: 100px;
    }
    &__item {
      .question {
        &__text {
          max-width: 240px;
          font-size: 24px;
          line-height: 28px;
        }
      }
    }
    .answer-list {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 16px;
      margin-top: 32px;

      .answer-item {
        width: 80vw;
        min-height: 140px;
        padding: 24px 25px;
        .answer-subtitle {
          max-width: 70%;
          margin-top: 8px;
        }
      }
    }
    .order {
      width: 80vw;
      padding: 37px 25px;
    }
  }
}

@media only screen and(max-width: 456px) {
  .blitz-question {
    .answer-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
} ;
