* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: $main-font;
  font-size: $main-font-size;
  color: $main-font-color;
  line-height: 26px;
}

.container {
  max-width: 1280px;
  width: 90vw;

  margin: 0 auto;
}

@media only screen and (max-width: 400px) {
  .container {
    width: 95vw;
  }
}
