.footer {
  margin-top: 200px;

  &__page {
    @extend %flex-c-sb;
    padding: 47px 85px;
    background-color: $background-color;
  }
  &__left {
    @extend %flex-c-sb;
    gap: 103px;
  }
  &__logo {
    &_icon {
      max-width: 236px;
      height: 26;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style-type: none;
    .nav__item {
      text-transform: uppercase;
      font-family: $nav-font;
      font-size: $nav-font-size;
      transition: all 0.3s ease;
      &:hover a {
        color: $main-font-color;
      }
      a {
        text-decoration: none;
        color: $nav-font-color;
        &::after {
          content: "";
          width: 0;
          height: 3px;
          background-color: $main-font-color;
          margin: auto;
          display: block;
        }
        &:hover {
          color: $main-font-color;
        }
        &:hover::after {
          width: 100%;
          transition: width 0.3s linear;
        }
      }
    }
  }
  &__list {
    @extend %flex-c-sb;
    gap: 24px;
    list-style-type: none;
    transition: all 0.3s ease;
    .facebook-icon:hover path {
      fill: $cards-hover-color;
    }
    .twitter-icon:hover path {
      fill: $cards-hover-color;
    }
    .instagram-icon:hover path {
      fill: $cards-hover-color;
    }
    .facebook-icon:active path {
      fill: $cards-active-color;
    }
    .twitter-icon:active path {
      fill: $cards-active-color;
    }
    .instagram-icon:active path {
      fill: $cards-active-color;
    }
  }
}

.subs-footer {
  margin-top: 168px;
}
@media only screen and (max-width: 1047px) {
  .footer {
    &__left {
      gap: 40px;
    }
  }
}

@media only screen and (max-width: 920px) {
  .footer {
    &__page {
      flex-direction: column;
      gap: 65px;
    }
    &__left {
      flex-direction: column;
      gap: 33px;
    }
  }
}

@media only screen and (max-width: 474px) {
  .footer {
    &__page {
      padding: 54px;
    }
    &__nav {
      flex-direction: column;
      gap: 24px;
    }
  }
}
