.header {
  padding-top: 44px;
  &__page {
    @extend %flex-c-sb;
    .nav {
      font-family: $nav-font;
      font-size: $nav-font-size;

      list-style-type: none;
      text-transform: uppercase;

      @extend %flex-c-sb;
      gap: 32px;

      &__item {
        a {
          text-decoration: none;
          color: $nav-font-color;
          &:hover {
            color: #333d4b;
          }
        }
      }
    }
    .hamburger-icon {
      display: none;
    }
  }
}

@media only screen and (max-width: 650px) {
  .header__page {
    .nav {
      display: none;
    }
    .hamburger-icon {
      display: block;
    }
  }
} ;
